{% extends "base.html" %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <table>
            <tr>
                <th>{{ form.username.label_tag }}</th>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <th>{{ form.password1.label_tag }}</th>
                <td>{{ form.password1 }}</td>
            </tr>
            <tr>
                <th>{{ form.password2.label_tag }}</th>
                <td>{{ form.password2 }}</td>
            </tr>
        </table>
        <div class="controls">
            <input type="submit" value="Register">
        </div>
    </form>
{% endblock %}
